html {
  background-image: url(eugene-deshko-ic_ED5M5evg-unsplash.jpg) no-repeat center
    center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "Quicksand", sans-serif;
}

.card {
  margin: 50px auto;
  width: 80%;
}
.form-inline {
  margin: 0 auto;
}
.card-title {
  text-align: left;
}
.card-text {
  text-align: left;
}
p {
  line-height: 5px;
}

.source-link {
  margin: auto;
}
ul {
  list-style-type: none;
}
