html {
  background: url(eugene-deshko-ic_ED5M5evg-unsplash.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background-color: transparent !important;
  font-family: "Quicksand", sans-serif;
}
.container {
  margin: 100px auto;
  width: 70%;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgba(82, 57, 115, 0.32);
}

.card {
  margin: 50px auto;
  width: 80%;
  background-color: transparent !important;
}
.form-inline {
  margin: 0 auto;
}
.card-title {
  text-align: left;
}
.card-text {
  text-align: left;
  background-color: transparent !important;
}
.nav {
  background-color: transparent !important;
}
.navbar {
  background-color: transparent !important;
}
.bg-light {
  background-color: transparent !important;
}
.form-control {
  background-color: transparent !important;
}
p {
  line-height: 5px;
}

.source-link {
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
